*{
	margin:0;
	padding:0;
	font-family:"黑体";
	font-size:12px;
	font-weight:500;
	text-decoration:none;
	color:#000;
	list-style:none;
}
body{
	background-color:#eeeeed;
}
a{
	text-decoration:none;
	color:#000;
}
/*导航栏开始*/
.nav{
	position:relative;
	margin-top:0;
	width:100%;
	height:56px;
	background-color:#2289bf;
}
span.logo{
	overflow:hidden;
	position:absolute;
	top:10px;
	left:50px;
	width:36px;
	height:36px;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:0 0;
	transition:all 1s;
}
span.logo:hover{
	transform:rotateZ(360deg);
}
.login{
	position:absolute;
	top:0px;
	right:94px;
	padding-left:35px;
	padding-right:10px;
	height:56px;
	font-size:12px;
	line-height:56px;
	text-align:center;
	color:#fff;
	transition:all 0.5s;
	cursor:pointer;
}
.login:hover{
	background-color:#2060a4;
}
span.login_img{
	display:inline-block;
	position:absolute;
	top:20px;
	left:10px;
	width:15px;
	height:15px;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:0 -46px;
	overflow:hidden;
}
.searchbar{
	position:absolute;
	top:14px;
	right:176px;
	width:312px;
	height:28px;
	background-color:#fff;
	border-radius:14px;
}
span.searchbar_img{
	position:absolute;
	top:6px;
	left:13px;
	width:16px;
	height:16px;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:0 -73px;
}
input.searchbar_input{
	position:absolute;
	right:10px;
	width:268px;
	height:28px;
	font-size:16px;
	line-height:28px;
	border:none;
	outline:none;
}
/*导航栏结束*/
/*主体开始*/
.main{
	position:absolute;
	top:56px;
	width:100%;
}
/*侧边栏开始*/
.sidebar{
	display:block;
	position:relative;
	margin-top:0px;
	margin-right:0;
	width:20%;
	min-width:260px;
	height:1210px;
	background-color:#2a2e3d;
	z-index:99;
}
.sidebar_user{
	position:absolute;
	top:18px;
	left:45px;
	width:163px;
	height:57px;
}
span.sidebar_user_img{
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:57px;
	height:57px;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:-47px 0;
	transition:all 0.5s;
}
span.sidebar_user_img:hover{
	transform:scale(1.2);
}
span.sidebar_user_name{
	position:absolute;
	top:22px;
	right:0;
	color:#fff;
}
.sidebar_collectAndFans{
	position:absolute;
	top:98px;
	left:46px;
	width:168px;
	height:28px;
}
.sidebar_collect,.sidebar_fans{
	position:absolute;
	width:84px;
	height:35px;
}
.sidebar_collect span,.sidebar_fans span{
	color:#6e8096;
}
.sidebar_collect{
	top:0;
	left:0;
	border-right:1px solid #6e8096;
}
span.sidebar_collect_num{
	display:block;
	margin:0 29px;
	font-size:16px;
}
span.sidebar_collect_name{
	display:block;
	margin:0 29px;
	font-size:11px;
}
.sidebar_fans{
	top:0;
	right:0;
}
span.sidebar_fans_num{
	display:block;
	margin:0 29px;
	font-size:16px;
}
span.sidebar_fans_name{
	display:block;
	margin:0 29px;
	font-size:11px;
}
ul.sidebar_menu{
	position:absolute;
	top:150px;
	left:0;
	width:100%;
	min-width:260px;
}
li.sidebar_menu_list{
	display:inline-block;
	padding:16px 0;
	width:100%;
	min-width:260px;
	height:12px;
	transition:all 0.5s;
	cursor:pointer;
}
li.sidebar_menu_list:hover{
	background-color:#383d4e;
}
span.list_icon{
	display:inline-block;
	margin-left:18%;
	margin-right:13px;
	width:12px;
	height:12px;
	vertical-align:middle;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:-22px -100px;
	overflow:hidden;
}
span.sidebar_list_text{
	margin-left:2%;
	font-size:12px;
	line-height:12px;
	color:#6e8096;
}
li.sidebar_menu_list:nth-child(1) span.list_icon{
	background-position:-22px -100px;
}
li.sidebar_menu_list:nth-child(2) span.list_icon{
	background-position:-22px -144px;
}
li.sidebar_menu_list:nth-child(3) span.list_icon{
	background-position:-22px -144px;
}
li.sidebar_menu_list:nth-child(4) span.list_icon{
	background-position:-22px -164px;
}
li.sidebar_menu_list:nth-child(5) span.list_icon{
	background-position:-22px -144px;
}
li.sidebar_menu_list:nth-child(6) span.list_icon{
	background-position:-22px -184px;
}
li.sidebar_menu_list:nth-child(1):hover span.sidebar_list_text{
	color:#fff;
}
li.sidebar_menu_list:nth-child(2):hover span.sidebar_list_text{
	color:#fff;
}
li.sidebar_menu_list:nth-child(3):hover span.sidebar_list_text{
	color:#fff;
}
li.sidebar_menu_list:nth-child(4):hover span.sidebar_list_text{
	color:#fff;
}
li.sidebar_menu_list:nth-child(5):hover span.sidebar_list_text{
	color:#fff;
}
li.sidebar_menu_list:nth-child(6):hover span.sidebar_list_text{
	color:#fff;
}
li.sidebar_menu_list:nth-child(1):hover span.list_icon{
	background-position:-0 -100px;
}
li.sidebar_menu_list:nth-child(2):hover span.list_icon{
	background-position:-0 -144px;
}
li.sidebar_menu_list:nth-child(3):hover span.list_icon{
	background-position:-0 -144px;
}
li.sidebar_menu_list:nth-child(4):hover span.list_icon{
	background-position:-0 -164px;
}
li.sidebar_menu_list:nth-child(5):hover span.list_icon{
	background-position:-0 -144px;
}
li.sidebar_menu_list:nth-child(6):hover span.list_icon{
	background-position:-0 -184px;
}

/*侧边栏结束*/
/*主体内容开始*/
.content{
	position:absolute;
	top:0;
	left:20%;
	width:80%;
	min-width:890px;
	height:1210px;
	background-color:#eeeeed;
}
/*路径提示开始*/
.content_path{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-width:890px;
	height:30px;
	background-color:#fff;
}
ul.content_path_ul{
	position:absolute;
	left:30px;
}
li.content_path_li{
	float:left;
	margin-left:13px;
	height:30px;
	font-size:12px;
	line-height:30px;
	color:#b9babe;
	cursor:pointer;
}
li.content_path_li:last-child{
	color:#2189bf;
}
/*路径提示结束*/
/*文档内容开始*/
.content_document{
	position:relative;
	margin:49px auto 0;
	width:890px;
	height:1006px;
}
/*筛选查询开始*/
span.content_document_seek_exchange{
	position:absolute;
	top:23px;
	left:348px;
	width:28px;
	height:38px;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:-156px 0;
}
.content_document_seek{
	position:relative;
	margin-top:0;
	width:888px;
	height:84px;
	background-color:#fff;
	border:1px solid #aaa;
	border-bottom:none;
	border-right:none;
	box-shadow:0 2px 2px #eeeeed;
}
.content_document_seek_item,.content_document_seek_time,.content_document_seek_personnum{
	display:block;
	position:absolute;
	width:120px;
	height:25px;
	font-size:11px;
	line-height:25px;
}
.content_document_seek_get,.content_document_seek_sell,.content_document_date_item,.content_document_seek_deal{
	display:block;
	position:absolute;
	width:160px;
	height:25px;
	font-size:11px;
	line-height:25px;
}
.content_document_seek_item{
	top:15px;
	left:30px;
}
.content_document_seek_time{
	top:15px;
	left:582px;
}
.content_document_seek_personnum{
	top:45px;
	left:406px;
}
.content_document_seek_get{
	top:15px;
	left:188px;
}
.content_document_seek_sell{
	top:45px;
	left:188px;
}
.content_document_date_item{
	top:15px;
	left:406px;
}
.content_document_seek_deal{
	top:45px;
	left:531px;
	width:175px;
}
.content_document_seek_searchbutton{
	display:block;
	position:absolute;
	top:31px;
	right:111px;
	width:50px;
	height:25px;
	font-size:12px;
	line-height:25px;
	text-align:center;
	color:#fff;
	background-color:#388ac1;
	border-radius:2px;
	cursor:pointer;
}
select.content_document_seek_item_list,select.content_document_seek_time_list,select.content_document_seek_personnum_list{
	position:absolute;
	top:0;
	right:0;
	width:67px;
	height:23px;
	outline:none;
	border:none;
	border:1px solid #aaa;
}
select.content_document_seek_personnum_list{
	right:11px
}
select.content_document_seek_get_list,select.content_document_seek_sell_list,select.content_document_seek_date_list,select.content_document_seek_deal_list{
	top:0;
	right:0;
	width:117px;
	height:23px;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	outline:none;
}
/*筛选查询结束*/
/*历史查询开始*/
.content_document_historySearch{
	position:relative;
	margin-top:9px;
	width:888px;
	height:64px;
}
.content_document_historySearch_title{
	position:absolute;
	top:0;
	right:-2px;
	width:130px;
	height:63px;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	background-color:#fff;
}
span.content_document_historySearch_title_img{
	position:absolute;
	top:17px;
	left:19px;
	width:32px;
	height:32px;
	background-image:url(../icons/icons.png);
	background-repeat:no-repeat;
	background-position:-114px 0px;
}
p.content_document_historySearch_title_p{
	position:absolute;
	top:17px;
	right:20px;
	font-size:12px;
	line-height:32px;
}
ul.content_document_historySearch_ul{
	position:absolute;
	top:0;
	left:30px;
	width:700px;
	height:64px;
	overflow:hidden;
}
span.content_document_historySearch_list_line{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:3px;
	background-color:#4388c8;
}
li.content_document_historySearch_list{
	display:inline-block;
	float:left;
	margin-left:5px;
	position:relative;
	width:109px;
	height:63px;
	background-color:#fff;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	box-shadow:0 2px 2px #eeeeed;
}
li.content_document_historySearch_list:nth-child(1) .content_document_historySearch_list_line{
	display:block;
}
li.content_document_historySearch_list:hover .content_document_historySearch_list_line{
	display:block;
}
span.content_document_historySearch_listtime{
	position:absolute;
	top:14px;
	left:29px;
	font-size:12px;
	line-height:12px;
}
span.money{
	font-size:11px;
	color:#aaa;
}
span.content_documebt_historySearch_listprice{
	position:absolute;
	top:34px;
	left:27px;
	font-size:20px;
	line-height:20px;
	color:#ed7326;
}
.content_document_historySearch_prev,.content_document_historySearch_next{
	position:absolute;
	width:29px;
	height:63px;
	font-size:17px;
	line-height:63px;
	text-align:center;
	color:#aaa;
	background-color:#fff;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	cursor:pointer;
}
.content_document_historySearch_prev{
	top:0;
	left:0;
}
.content_document_historySearch_next{
	top:0;
	right:133px;
}
/*历史查询结束*/
/*成交指示器开始*/
ul.content_document_total{
	position:relative;
	margin-top:39px;
	width:890px;
	height:70px;
}
span.content_document_total_title{
	position:absolute;
	top:-15px;
	left:0;
	font-size:11px;
	line-height:11px;
}
li.content_document_total_num{
	float:left;
	position:relative;
	margin-right:27px;
	width:200px;
	height:70px;
	background-color:#fff;
	border:1px solid #aaa;
}
li.content_document_total_num:last-child{
	margin-right:0;
}
span.content_document_total_num_line{
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background-color:#43b29d;
}

li.content_document_total_num:nth-child(3) span.content_document_total_num_line{
	background-color:#388ac1;
}
li.content_document_total_num:nth-child(4) span.content_document_total_num_line{
	background-color:#cf4a36;
}
li.content_document_total_num:nth-child(5) span.content_document_total_num_line{
	background-color:#e2cd46;
}
span.content_document_total_num_color{
	position:absolute;
	top:12px;
	right:15px;
	width:60px;
	height:46px;
	background-color:#43b29d;
}
li.content_document_total_num:nth-child(3) span.content_document_total_num_color{
	background-color:#388ac1;
}
li.content_document_total_num:nth-child(4) span.content_document_total_num_color{
	background-color:#cf4a36;
}
li.content_document_total_num:nth-child(5) span.content_document_total_num_color{
	background-color:#e2cd46;
}
span.content_document_total_num_title{
	position:absolute;
	top:20px;
	left:8px;
	font-size:9px;
}
span.content_document_total_num_volume{
	position:absolute;
	top:44px;
	left:8px;
	font-size:9px;
	color:#aaa;
}
/*成交指示器结束*/
/*组项目部分开始*/
.content_document_project,.content_document_bottom{
	position:relative;
	margin-top:13px;
	width:890px;
	height:355px;
}
.content_document_project_left_title,.content_document_project_right_title,.content_document_bottom_calendar_title,.content_document_bottom_ranking_title{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:39px;
	font-size:11px;
	line-height:39px;
	color:#aaaaaa;
	background-color:#f4f5f7;
	border-bottom:1px solid #eeeeed;
}
.content_document_project_left,.content_document_project_right,.content_document_bottom_calendar,.content_document_bottom_ranking{
	position:absolute;
	top:0;
	height:355px;
	background-color:#fff;
	border:1px solid #eeeeed;
	border-radius:5px;
}
/*项目左栏开始*/
.content_document_project_left{
	left:0;
	width:530px;
}
/*项目左栏结束*/
/*项目右栏开始*/
.content_document_project_right{
	right:0;
	width:350px;
}
/*项目右栏结束*/
/*组项目部分结束*/
/*内容底部开始*/
/*内容底部_左部日历开始*/
.content_document_bottom_calendar{
	width:350px;
	left:0;
}
/*内容底部_左部日历结束*/
/*内容底部_右部品牌榜开始*/
.content_document_bottom_ranking{
	width:530px;
	right:0;
}
/*内容底部_右部品牌榜结束*/

/*内容底部结束*/


/*文档内容结束*/

/*主体内容结束*/

/*主体结束*/
